body {
  background-color: rgb(82, 165, 130);
}
p {
  font-size: 2em;
  text-align: center;
  margin-top: 100px;
}

.toPress {
  color: rgb(68, 53, 11);
  display: flex;
  justify-content: center;
}

.btn {
  display: flex;
  justify-content: center;
}

#form-text {
  display: flex;
  justify-content: center;
}
